.donation-main-container {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) minmax(min-content, 80rem) minmax(5rem, 1fr);
    font-family: inter;
    overflow: hidden;
    box-sizing: border-box;
}
.first-donation-container {
    grid-column: 2 / 3;
    box-sizing: border-box;
    display: flex;
    gap: 3rem
}

.donateNav {    
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-image: url(../assets/crops.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    color:#0f7c01;
    font-weight: 500;
    font-size: 1.3rem;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-bottom: 8rem
}

.donate-img {
    width: 70rem;
    border-radius: 20px;
}

.donate-article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.donate-article {
    display: flex;
    gap: 20px
}

.description {
    display: flex;
    flex-direction: column
}

.donation-img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px
}

.description h3 {
    margin: 0
}

.description p {
    margin: 10px 0
}

