.donation-main-container {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) minmax(min-content, 80rem) minmax(5rem, 1fr);
    font-family: inter;
    overflow: hidden;
    box-sizing: border-box;
}
.first-donation-container {
    grid-column: 2 / 3;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem
}

.donateNav {    
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-image: url(./assets/crops.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    color:#0f7c01;
    font-weight: 500;
    font-size: 1.3rem;
    padding-right: 10rem;
    padding-left: 10rem;
    margin-bottom: 8rem
}

.donate-img {
    width: 60rem;
    border-radius: 20px;
    object-fit: cover;
}

.donate-article-container {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.donate-article {
    display: flex;
    gap: 20px
}

.description {
    display: flex;
    flex-direction: column
}

.donation-img {
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    object-fit: cover;
}

.description h4 {
    margin: 0
}

.description p {
    margin: 10px 0;
    font-size: 13px
}

.donate-status-container {
    grid-column: 2 / 3;
    width: 57rem;
    margin: 4rem 2rem
}

.donation-status {
    width: 100%;
    height: 13px;
    border: 1px solid rgb(173, 173, 168);
    border-radius: 10px
}

.donation-progress {
    background-color: #0f7c01;
    height: 100%;
    border-radius: 10px
}

.donation-span {
    display: flex;
    justify-content: space-between;
    margin: 10px  0
}

.donation-description {
    grid-column: 2 / 3;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 2rem;
    
}

.donation-details {
    
}

.donation-details h1 {    
    font-size: 2rem;    
    color: #303030    
}

.donation-details p{
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #828282
}

.donation-contact {
    border-radius: 10px;
    color: white;    
    width: 50rem; 
      
    margin: 2rem 0
}

.description-img {
    width: 70%;
    border-radius: 10px
}


.donation {
    height: 6rem;
    width: 80rem;
    background-color: #0F7C01;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem;
    font-size: 2rem
}

.donation-buttons {
    display: flex;
    justify-content: space-around;
    width: 80rem
}

.donation-button {
    background-color: #c5a413;
    color: white;
    border: none;
    height: 3rem;
    width: 5rem;
    border-radius: 5px
}

.donation-button:hover {
    background-color: darkgoldenrod;
    cursor: pointer
}

.donation-header:hover {
    color: darkgreen
}

.donation-form-container {
    grid-column: 2 / 3;
    margin: 3rem 0;
    color: #303030
}

.donate-button {
    background-color: #0F7C01;
    color: white;
    border: none;
    width: 10rem;
    height: 2rem;
    border-radius: 5px
}

.donate-input {
    width: 30rem
}



