.objectives {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    height: auto;
    background-color:#efefd480;
    padding-bottom: 8rem;
    
}

.heading {    
    padding: 3rem;
    width: 100%;
    max-width: 100%
}

.heading h1 {
    color: #303030;
    padding-top: 0;
    margin-top: 0;
    font-size: 3rem
}

.heading h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #0f7c01
}

.slider-container {
    position: relative;
    overflow: hidden;    
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    
}

.service {    
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 400px;
    height: auto;       
}

.cards {   
    justify-content: center;
    align-items: center;
    display: flex;    
    width: 100%;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    transition: transform 0.5s ease-in-out
    
}

.cards h3 {
    color: #000
}

.service p {
    font-size: 1rem;
    color: #868686;
    margin-bottom: 1rem;
}

.service h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #0f7c01;
}

.img-div {
    padding: 15px;
    background-color: #d7f5d1;
    border-radius: 50%;
    width: 150px;
    margin: 30px
}

.food-secure {
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.obj-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.obj-dot{
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color:#0f7c01;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.obj-dot.active {
    background-color:#031c00;
    transform: scale(1.3)
}

@media (max-width: 560px) {
    .objectives {
        width: 100%;
        overflow: hidden;
        align-items: start;
        padding: 1rem
    }
    
    .heading h1 {
        font-size: 2rem
    }
    .service {
         width: 100%
          
    }
    .cards {  
        width: 300%;      
        flex-direction: row;
        gap: 0
               
    
    }
}

@media (max-width: 480px) {
    .objectives {
        width: 28.5%;  
        padding: 0.5rem      
    }
    .heading {
        padding: 0.5rem;
        max-width: 100%
    }
    .heading h1 {
        font-size: 1.2rem
    }
    .cards {
        width: 100%;
        gap: 0
    }
    .service {
        width: 350px;        
    }
    .food-secure {
        width: 350px
    }
    .service p {
        font-size: 0.6rem
    }
    .service h3 {
        font-size: 1rem
    }

}