.ask-questions {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

#rice-farm {
    width: 100%;
    height: 50rem;
    object-fit: cover;
}

.question-article-container {
    background-color: #efefd480;
    padding: 6rem
}

.question-article h4 {
    color: #0f7c01;
    margin-bottom: 0;
}

.question-article h1 {
    margin-bottom: 0.5rem
}

.questions {
    background-color: white;    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px auto;
    padding: 15px;   
    border-radius: 10px ;
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out
}

.question {
    color: black;
    font-size: 1.2rem;
    font-weight: 500
}

.question:hover {
    color: #0f7c01;
    cursor: pointer;
}

.questions > button {
    background-color: #0f7c01;       
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 3rem;
    font-weight: 200;
    position: absolute;
    top: 30px;
    right: 15px;
    border: none    
}

.questions > button:hover {
    cursor: pointer;
}

.questions-answer {
 margin-top: -10px;
 width: 100%;
 font-size: 12px;
 
}

.add {
    position: absolute;
    top: -60%;
    left: 5%
}

@media (max-width: 560px) {
    .ask-questions {
        width: 100vw;
        display: flex;
        flex-direction: column
    }

    #rice-farm {
        height: 400px
    }
    .question-article-container {
        padding: 1rem
    }

    .question-article h1 {
        font-size: 1.5rem
    }
    
}

@media (max-width: 480px) {
    .ask-questions {
        width: 100vw;
        display: flex;
        flex-direction: column
    }
    #rice-farm {
        height: 15rem
    }
    .question-article-container {
        padding: 1rem
    }
    .question-article h1 {
        font-size: 1rem
    }
    .question {
        font-size: 0.9rem
    }
    
}